
.flex {
    display: flex;
}

.main-container {
    /* width: calc(100% - 200px); */
    /* max-width: calc(100% - 200px); */
    width: 100%;
    height: 100vh;
}

.carousel-home {
    margin-top: -24px;
}

.small-icon{
    width: 15px;
}

.btn-primary-custom {
    background-color: #DA0037;
    color: #fff !important;
}

.btn-primary-custom:hover {
    background-color: #DA0037;
}

.btn-danger-custom {
  background-color: #444444;
  color: #fff !important;
}